{% load static %}



<div class="ui inverted navsemantic  menu">
    <a href="" class="item">
      <a href="{% url 'posts:main-post-view' %}"> <h2 > Visible</h2> </a>
    </a>
    {% if request.user.is_authenticated %}
          <a class="active item" href="{% url 'posts:main-post-view' %}">
            Home
          </a>
     {% endif %}
          <a class="item" href="{% url 'my-profile-view' %}">
            My Profile
          </a>
            <a class="item" href="{% url 'friends' %}">
            Friends
          </a>

          <a class="item" href="{% url 'all-profiles-view' %}">
            People
          </a>

            <a class="item" href="{% url 'my-invites-view' %}">
            Friend Requests
          </a>



          <div class="right menu">
               {% if request.user.is_authenticated %}

                    {% if query %}
                        <h1>Posts containing "{{ query }}"</h1>
                        <h3>
                        {% with results.count as total_results %}
                        Found {{ total_results }} result{{ total_results|pluralize }}
                        {% endwith %}
                        </h3>
                        {% for user in results %}
                        <h4><a href="{{ user.avatar.url }}">{{ user.first_name }} {{ user.last_name }}</a></h4>
                        {{ user.body }}
                        {% empty %}
                        <p>There are no results for your query.</p>
                        {% endfor %}
                        <p><a href="{% url "search" %}">Search again</a></p>
                        {% else %}
                        <h1>Search for posts</h1>
                        <form method="get">
                        {{ form.as_p }}
                        <input type="submit" value="Search">
                        </form>
                        {% endif %}
{#            <div class="item">#}
{#              <div class="ui icon input">#}
{#                <input type="text" placeholder="Search...">#}
{#                <i class="search link icon"></i>#}
{#              </div>#}
{#            </div>#}
                <p class="ui item"> Hello {{ request.user }}</p>
            <a class="ui item" href="{% url "logout" %}">
              Logout
            </a>
                    {% else %}
                   <a href="{% url 'login' %}" class="ui item">
                Login
            </a>
              {% endif %}
          </div>
</div>














{#  <nav class=" nav navbar navbar-expand-md navbar-inverse bg-dark sticky-top">#}
{#    <div class="container-fluid">#}
{#      <a class="logo nabar-brand navbrand1"   href="{% url 'posts:main-post-view' %}">VISIBLE</a><p class="pa"></p>#}
{#      <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">#}
{#        <span class="navbar-toggler-icon"></span>#}
{#      </button>#}
{#      <div class="collapse navbar-collapse" id="navbarResponsive">#}
{#        <ul class="navbar-nav ml-auto">#}
{#          <li {% if section == "dashboard" %}class="selected"{% endif %} class=" link nav-item active">#}
{#            <a class=" navlink nav-link" href="{% url "dashboard" %}"><strong>Home</strong><span class="sr-only">(current)</span></a>#}
{#          </li>#}
{#          <li {% if section == "images" %}class="selected"{% endif %} class="nav-item">#}
{#            <a class=" navlink nav-link" href="{% url 'my-profile-view' %}"><strong>Profile</strong></a>#}
{#          </li>#}
{#          <li {% if section == "people" %}class="selected"{% endif %} class=" nav-item">#}
{#            <a class=" navlink nav-link" href="{% url 'all-profiles-view' %}"><strong>People</strong></a>#}
{#          </li>#}
{##}
{##}
{#        </ul>#}
{#       {% endif %}#}
{#        <span class="user">#}
{#        {% if request.user.is_authenticated %}#}
{#        Hello {{ request.user }},#}
{#        <a class="login" href="{% url "logout" %}">Logout</a>#}
{#        {% else %}#}
{#        <a class="login" href="{% url "login" %}">Login</a>#}
{#            <a class="login" href="">Register</a>#}
{#        {% endif %}#}
{#        </span>#}
{#      </div>#}
{#    </div>#}
{#  </nav>#}









{% if messages %}
<ul class="messages">
{% for message in messages %}
<li class="{{ message.tags }}">
{{ message|safe }}
<a href="#" class="close">x</a>
</li>
{% endfor %}
</ul>
{% endif %}
