
{% block content %}
        {% for people in ap %}

             <h4>{{ people.first_name }} {{ people.last_name }}</h4>
            <div class="three wide column">
                <img  class="ui size mini circular image" src="{{ people.avatar.url }}" alt="">
            </div>
                    <div class="two wide column">

                        <p>Bio: {{ people.bio }}</p>
                        <a href="{{ people.get_absolute_url }}"><button class="ui primary button mb-5 w-big">See profile</button></a>



</div>



    {% endfor %}



{% endblock content %}