
{% block content %}
        {% for people in ap %}

             <h4>{{ people.first_name }} {{ people.last_name }}</h4>
            <div class="three wide column">
                        <img  class="ui size mini circular image" src="{{ people.avatar.url }}" alt="">
            </div>
                    <div class="two wide column">

                        <p>{{ people.bio }}</p>
                     <button class="ui primary button mb-5 w-big">See profile</button>

                                <form action="{% url 'send-invite' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="profile_pk" value={{ people.pk }}>
                                    <button type="submit" class="ui positive basic button mb-5 w-big"><i class="plus square icon "></i>Add friend</button>
                                 </form>

                    {% if people.user in rel_receiver and request.user not in people.friends.all %}
                            <button class="ui disabled button mb-5 w-big"><i class="ui icon"></i>Waiting for approval</button>
                        {% endif %}

</div>



    {% endfor %}



{% endblock content %}