{% extends "base.html" %}
{% load static %}
{% block title %}Reset Your password{% endblock %}

{% block content %}
    <h1>Forgotten your password?</h1>
    <p>Enter your e-mail address to obtain a new password</p>

    <div class="login-card">
    <div>
        <h2 class="text-center">Hi forgot your password?</h2>
    </div><img class="img-fluid profile-img-card" src="{% static '/img/avatar_2x.png'%}" />
    <p class="profile-name-card"></p>
    <form class="form-signin" action="" method="post">
        <input class="form-control" type="email" id="inputEmail" name="email" required placeholder="Email" autofocus />
         {% csrf_token %}
        <button class="btn btn-primary btn-block btn-lg btn-signin" name="login" type="submit" value="Send e-mail">Recover password</button>
    </form>

    </div>




{% endblock %}