* {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins' sans-serif;
  color: #222;

}
.navbar{
  padding: .8rem;
 
}
.navbar-nav li{
  padding-right: 20px;
}

.custom-toggler.navbar-toggler {
  color:#f4476b;
}
.custom-toggler .navbar-toggler-icon {
background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(9,55,244, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.nav-link{
  font-size: 1.1em!important;
 color:#f4476b;
}

.carousel-inner img{
  width: 100%;
  height: 100%;
}
.carousel-caption{
  position: absolute;
  top:50%;
  transform: translateY(-60%);
}


.button {
    font-family: 'Abril Fatface', cursive;
    background-color:  rgb(245, 71, 8);
    border: 1px solid;
    color: white;
}
.button:hover{
  background-color:  rgb(199, 115, 37);
  border: 1px solid;
}
.jumbotron{
  padding: 1rem;
  border-radius: 0;
}
.padding{
  padding-bottom: 2rem;
}
.welcome{
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr{
  border-top: 2px solid #b4b4b4;
  width: 35%;
  margin-top:.3rem ;
  margin-bottom:1rem ;

}
.fun{
  width: 100%;
  margin-bottom: 2rem;
}
.gif{
  max-width: 100%;
}
.social a{
  font-size: 4.5em;
  padding: 5rem;
}
.fa-facebook{
  color: #3b5998;
}
.fa-twitter{
  color: #00aced;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover{
  color: #d5d5d5;
}
.footer{
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  background-color: black;
  color:white;
  padding-top: 2rem;
  margin-top: 10px;
}
.footer-margin{

}
hr.light{
  border-top: 1px solid #3f3f3f;
  width: 85%;
  margin: .8rem;
  margin-bottom: 1rem;
}
hr.light-last{
  border-top: 1px solid #3f3f3f;
  width: 100%;

}

/*---media Queries---*/
@media(max-width: 992px){
.social a{
  font-size: 4em;
  padding: 2rem;
}
}
@media(max-width:768px){
  .carousel-caption{
    position: absolute;
    top:45%;
  }
  .carousel-caption h1{
    font-size: 350%;
  
  }
  .carousel-caption h3{
    font-size: 140%;
    font-weight: 400;
    padding-bottom: .2rem;
  }
  .carousel-caption .btn{
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4{
    font-size: 200%;
  }
  .social a{
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .jumbotron .btn{
    font-size: 95%;
    padding: 8px 14px;
  }

}
@media(max-width:576px){
  .social a{
    font-size: 1.5em;
    padding: 1.2rem;
  }
  .carousel-caption{
    top:40%;
  }
  .carousel-caption h1{
    font-size: 250%;
  
  }
  .carousel-caption h3{
    font-size: 110%;
    
  }
  .carousel-caption .btn{
    font-size: 90%;
    padding: 4px 8px;
  }
  
  .carousel-indicators{
    display: none;
    font-size: 90%;
    padding: 4px 8px;
  }
 
  .display-4{
    font-size: 160%;
  }
 

}

.carousel-item{
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;

}
figure{
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap{
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed{
  background-image: url("images/ank1.jpg");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
          will-change: transform;

}
.margin{
  padding: 10px;
}
.h{
font-family: 'Abril Fatface', cursive;
}
/*----Boosstrap padding---*/
[class*="col-"]{
  padding: 1rem;
}



