
{% load static %}

{% block title %}Create an account{% endblock %}

    <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/styles.min.css' %}">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/stylereg.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
{% block content %}

    <!-- Start: Registration Form with Photo -->
    <div class="register-photo">
        <!-- Start: Form Container -->
        <div class="form-container">
            <!-- Start: Image -->
            <div class="image-holder" style="background-image: url({% static 'img/meeting.jpg' %});"></div>
            <!-- End: Image -->
            <form method="POST" >
                <h2 class="text-center"><strong>Create</strong> an account.</h2>
                {% csrf_token %}
                <div class="form-group"><input class="form-control" type="text" name="username" id="id_username" placeholder="Username"></div>
                <div class="form-group"><input class="form-control" type="text" name="first_name" id="id_first_name" placeholder="First Name"></div>
                <div class="form-group"><input class="form-control" type="text" name="last_name" id="id_last_name" placeholder="Last Name"></div>
                <div class="form-group"><input class="form-control" type="email" name="email" id="id_email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" required id="id_password" placeholder="Password"></div>
                <div class="form-group"><input class="form-control" type="password" name="password_repeat" required id="id_password2" placeholder="Password (repeat)"></div>
                <div class="form-group">
                    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="checkbox">I agree to the terms and conditions.</label></div>
                </div>

                <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Sign Up</button></div><a class="already" href="{% url 'login' %}">You already have an account? Login here.</a>
            <div class="error">
                {% for message in messages %}
                <h5>{{ message }}</h5>
                {% endfor %}
            </div>
            </form>

        </div>
        <!-- End: Form Container -->
    </div>
    <!-- End: Registration Form with Photo -->





{% endblock %}