{% extends 'base.html' %}

{% block title %}delete post{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if 'warning' in message.tags %}
              <div class="ui negative message">
                <div class="header"></div>
                {{ message }}
              </div>
            {% endif %}

        {% endfor %}
    {% endif %}

    {% if not messages %}
        <div class="ui segment">
        <h3>Delete post?</h3>
            <form action="" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete the post {{ object }}?</p>
                <button class="ui button primary" type="submit">Yes</button>
            </form>
        </div>
    {% endif %}


{% endblock %}